* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a:link { 
    text-decoration: none;
    color: #D7D7D7;
} 
a:visited { 
	text-decoration: none;
	color: #D7D7D7; 
} 
a:active { 
	text-decoration: none; 
	color: #D7D7D7;
}
a:hover {
    text-decoration: none;
    color: #FF4D00; 
}
body {
	background-color: #1D1D1D;
	color: #D7D7D7;
	font-family: "Outfit", sans-serif;
}
#logo {
	color: #FF4D00;
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	margin-top: 5%;
	margin-left: 4%;
	font-size: 170%;
}
.box {
	box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.25);
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	text-align: center;
	vertical-align: middle;
}
#hello {
	width: 47%;
	height: 200%;
	font-weight: 900;
	font-size: 250%;
	line-height: 200%;
	margin-top: 5%;
	text-align: center;
	vertical-align: middle;
}
#discr {
	font-weight: 500;
	font-size: 170%;
	text-align: center;
	margin-top: 15%;
}
.heading {
	color: #FF4D00;
	text-align: center;
	font-weight: 800;
	font-size: 210%;
	margin-top: 15%;
}
#hobbies {
	width: 62%;
	line-height: 200%;
	height: 250%;
	font-size: 170%;
	font-weight: 800;
	margin-top: 15%;
	padding-bottom: 2%;
	padding-top: 2%;
	border-radius: 60px;
	text-align: center;
	vertical-align: middle;
}
ul {
	list-style-type: none;
}
.icons {
	display: flex;
  	justify-content: center;
  	font-size: 330%;
  	margin-top: 15%;
	padding-top: 2%;
}
.links {
	font-weight: 400;
	font-size: 170%;
	margin-top: 2%;
	text-align: center;
	padding-bottom: 2%;
	
}
.boxl {
	width: 40%;
	line-height: 610%;
	height: 610%;
	margin-top: 10%;
	border-radius: 40px;
	text-align: center;
	vertical-align: middle;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.pairs {
	display: flex;
	justify-content: space-around;
}
#under {
	font-weight: 300;
	font-size: 120%;
	margin-top: 25%;
	text-align: center;
	margin-bottom: 15%;
}
span {
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
	color: #FF4D00;
}
